input {
    font-size: 100%;
    width: 10em;
    border-radius: 3px;
    border: 1px black solid;
    margin: 1em auto;
    padding: .2em .5em;
    display: block;
}

form {
    margin: 5em auto;
    width: 15em;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
}

#button {
    width: 11.2em;
    background: lightgray;
    cursor: pointer;
}

#error {
    color: red;
    display: none;
}

#logout {
    color: green;
    display: none;
}