[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

span {
    margin: 0;
}

/****mobile****/

@media (max-width: 600px) {
    .vulc__nav {
        font-size: 1.5em;
    }
}

html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    overflow-y: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border-radius: 3px;
    border: 1px black solid;
    padding: 0 .2em;
}

/*************************/

/* @font-face {
    font-family: 'ArsenalRegular';
    src: url('/img/Arsenal-Regular.woff');
}

@font-face {
    font-family: 'ArsenalRegular';
    font-weight: bold;
    src: url('/img/Arsenal-Bold.woff');
} */

html,
body,
.PageWrapper {
    height: 100%;
    /*     font-family: 'ArsenalRegular'; */
    /*     font-size: 105%; */
}

.PageContent {
    margin-right: 1em;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 30px;
}

.PageFooter {
    position: relative;
    top: -10px;
    height: 10px;
    font-size: 75%;
    text-align: center;
    /*     margin-top: -10px; */
    border-top: solid thin #333;
}

a, .Link {
    cursor: pointer;
    color: darkblue;
    text-decoration: none;
    /*     font-weight: bold; */
}

a:hover, .Link:hover {
    /*     color: #004; */
    text-shadow: 0 0 1px #779;
}

.Brand {
    font-size: 120%;
    font-weight: bold;
    color: #33d !important;
    /*         text-shadow: 0 0 10px #000; */
}

.Navigation {
    font-size: 120%;
    padding: 1em;
}

.Bold {
    font-weight: bold;
}

.VerticalList li {
    list-style-type: none;
    padding-top: 1em;
    display: block;
}

.Right {
    float: right;
}

.Padded {
    margin: 0 .5em;
}

.Italic {
    font-style: italic;
}

.CommentBg {
    max-width: 90%;
    width: 20em;
    padding: .5em .2em;
    background-color: #eee;
    margin-top: 1em;
    border-radius: 5px;
}

.CommentBg .pure-button {
    position: relative;
    top: -.8em;
    left: .2em;
}

.CommentDate {
    position: relative;
    bottom: -1em;
    width: 50%;
    text-decoration: underline;
}

#newComment {
    max-width: 90%;
    width: 20em;
    padding: .4em;
}

.AddCommentBtn {
    max-width: 90%;
    width: 21em;
    text-align: right;
}

.NewsListTitle {
    position: relative;
    bottom: -.8em;
}

.NewsListBottom {
    position: relative;
    top: -.8em;
    text-align: right;
}

.NotFound {
    margin: 0 auto;
    text-align: center;
    background: #ffefe0;
    padding-bottom: 1em;
    border-radius: 5px;
    max-width: 90%;
    width: 20em;
}

.TagsList {
    color: #333;
}

.CommentsCount {
    color: #F33;
}

.Paginator {
    width: 100%;
    text-align: center;
    display: block;
}

.Paginator li {
    display: inline-block;
}

.Paginator span {
    font-size: 110%;
    font-weight: bold;
    border-radius: 2px;
    background: #eee;
    border: 1px solid black;
    padding: 0 .3em;
    margin: .2em;
}

.Paginator span:hover {
    background: #e7e7e7;
    cursor: pointer;
}

.Paginator .active span {
    background: black;
    color: white !important;
    font-weight: bold;
    cursor: default;
}

/*dropdown list*/

.Filter .pure-menu-children {
    position: relative;
    left: 1em;
    top: 2.3em;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    width: 13em;
    font-size: 80%;
    height: 20em;
}

.Filter .pure-menu-children li {
    width: 100%;
}

.Filter .pure-menu-children label:hover {
    background: #e7e7e7;
}

.pure-menu-item {
    height: 2em;
}

.Filter .btn2 {
    display: inline-block;
    width: 12em;
    text-align: center;
}

.Filter .btn {
    /*     display: inline-block; */
    width: 5.8em;
    text-align: center;
}

.Filter .pure-menu li {
    display: inline-block;
}

/*dropdown menu*/

.Filter .dropdown {
    /*     color: #ccf; */
    width: 12em;
    text-align: left;
}

.pure-button {
    padding: .1em .3em;
    border: 1px solid black;
    background: #eee;
    color: #000 !important;
    border-radius: 5px;
    margin: .3em 0;
    text-align: center;
}

.pure-button:hover {
    background: #e7e7e7;
}

.pure-button:active {
    background: #ccf;
}

.ContentCenter {
    width: 100%;
    text-align: center;
}

.ContentRight {
    width: 100%;
    text-align: right;
}

loading-animation {
    display: none;
    position: fixed;
    background: url('../img/ajax-loader.gif') 50% 50% no-repeat;
    height: 100%;
    width: 100%;
}

.NavigationMenu {
    width: 10em;
    float: left;
    position: fixed;
    top: 7em;
    left: -2em;
    background: #efefef;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;

}

.NavigationMenu:hover {
    background: #fff;
}

.NavigationMenu li {
    list-style-type: none;
    padding: .3em 0;
}

.NewsListContent {
    margin-left: 6.5em;
}

.NewsListContent {
    /*min-width: 15em;*/
}

.Block {
    display: inline-block;
}

table td {
    border: 1px solid black;
}

.Expand .Bold {
    width: 7em;
    display: inline-block;
}

.Expand .Menu {
    display: inline-block;
    width: 10em;
}

.Expand textarea {
    display: inline-block;
}

.AddNewsForm textarea {
    width: 100%;
    display: inline-block;
}

.AddNewsForm .Filter {
    display: block;
}
