<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="news" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="news" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="news" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="news" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="fragment" content="!"/>
    <!--<base href="/">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title translate>News Portal</title>
    <!--<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">-->
    <meta name="viewport" content="height=device-height,width=device-width,user-scalable=yes">
    <link rel="stylesheet" href="css/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <!--<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">-->
    <!--<![endif]-->
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <!-- jQuery library -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>-->
    <!-- Latest compiled JavaScript -->
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="css/theme.css">-->
</head>

<body data-status="{{status}}">
<!--<img src="/img/loading_spinner.png" ng-if="stateIsLoading" class="Loading Center"/>-->
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="PageWrapper">
    <loading-animation></loading-animation>
    <div class="PageContent">
        <div ui-view></div>
    </div>
    <div class="PageFooter">
        ⓒ Vasiliy Talkachov, 2016
    </div>
</div>
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>-->
<!--<script src="lib/dominus.min.js"></script>-->
<!--<script src="lib/lodash.core.min.js"></script>-->
<script src="app/bower_components/angular/angular.min.js"></script>
<script src="app/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="app/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="app/bower_components/angular-gettext/dist/angular-gettext.min.js"></script>
<script src="app/bower_components/angular-once/once.js"></script>
<!-- <script src="app/constants/const.js"></script> -->

<script src="app/app.js"></script>

<script src="app/i18n/translations.js"></script>
<script src="app/i18n/localize.factory.js"></script>

<script src="app/main/main.js"></script>
<script src="app/list/list.js"></script>
<script src="app/list/filter/filter.js"></script>
<script src="app/list/page/page.js"></script>
<script src="app/list/paginator/paginator.js"></script>
<script src="app/detail/detail.js"></script>
<script src="app/shared/navigation-bar.js"></script>
<script src="app/shared/loading-animation.js"></script>

<script src="app/list/filter/filter.factory.js"></script>
<script src="app/resources/tag.factory.js"></script>
<script src="app/list/list.factory.js"></script>
<script src="app/resources/author.factory.js"></script>
<script src="app/resources/news.factory.js"></script>
<script src="app/resources/comment.factory.js"></script>

<script>
    (function () {
        var dpt = window.devicePixelRatio;
        var widthM = window.screen.width;
        if (widthM * dpt < 976) {
            document.write('<meta name="viewport" content="height=device-height,width=600,user-scalable=yes">');
        }
    })();
</script>
</body>

</html>
