<div class="NavigationMenu">
    <div>
        <ul>
            <li>
                <a ui-sref="news.list({pageNum:1})" translate>News List</a>
            </li>
            <li>
                <a ui-sref="news.add_news()" translate>Add News</a>
            </li>
            <li>
                <a ui-sref="news.edit_authors()" translate>Edit Authors</a>
            </li>
            <li>
                <a ui-sref="news.edit_tags()" translate>Edit Tags</a>
            </li>
        </ul>
    </div>
</div>
