<div class="Navigation pure-menu pure-menu-horizontal">
    <div>
        <ul class="pure-menu-list">
            <li class="Brand pure-menu-item">
                <a translate ui-sref="news.list({pageNum:1})">News Portal - Administration</a>
            </li>
        </ul>
        <ul class="pure-menu-list Right Block">
            <li class="pure-menu-item">
                <span translate>Hello</span>
                <span>, {{$ctrl.userName}}! </span>
                <span class="Padded"></span>
            </li>
            <li class="pure-menu-item">
                <span ng-click="$ctrl.setLocale('en')" class="Link">en</span>
            </li>
            <li class="pure-menu-item">
                <span ng-click="$ctrl.setLocale('ru')" class="Link">ru</span>
            </li>
            <li class="pure-menu-item">
                <span ng-click="$ctrl.doLogout()" class="Link" translate>Logout</span>
            </li>
        </ul>
    </div>
</div>
