<ul class="Expand VerticalList">
    <li ng-repeat="author in $ctrl.authors | filter:{expired:null}">
        <span class="Bold" translate>Author: </span>
        <textarea ng-model="author.authorName" ng-disabled="!author.edit" rows="1"></textarea>
        <span class="Menu">
            <span ng-if="!author.edit" class="Link" ng-click="author.edit=true" translate>Edit</span>
            <span ng-if="author.edit">
                <span ng-click="$ctrl.updateAuthor(author)" class="Link" translate>Update</span>
                <span ng-click="$ctrl.deleteAuthor(author.authorId)" class="Link" translate>Delete</span>
                <span ng-click="author.edit=false" class="Link" translate>Cancel</span>
            </span>
        </span>
    </li>
    <li>
        <form name="addAuthorForm">
            <span class="Bold" translate>Add Author:</span>
            <textarea ng-model="author.authorName" rows="1"></textarea>
                <span class="Link"
                      ng-click="$ctrl.addAuthor(author, addAuthorForm)" translate>Save</span>
        </form>
    </li>
</ul>
