<ul class="VerticalList">
    <li ng-if="!$ctrl.page.content" class="NotFound" translate>Articles not found by this criteria</li>
    <li ng-repeat="news in ::$ctrl.page.content | orderBy: 'newsDate':true">
        <p class="NewsListTitle">
            <span class="Bold" once-text="news.title"></span>
            <span class="Block Italic">
                <span translate>(by</span>
                <span once-text="news.author+')'"></span>
            </span>
            <span class="Right Block" once-text="news.newsDate | date:'yyyy-MM-dd'"></span>
        </p>
        <p once-text="news.brief"></p>
        <p class="NewsListBottom">
            <span class="TagsList" once-text="news.tags"></span>
            <span class="Padded CommentsCount">
                <span translate>Comments</span>
                <span once-text="'('+news.comments+')'"></span>
            </span>
            <span class="Link Padded" ui-sref="news.detail({pageNum:$ctrl.page.number,newsId:news.newsId})" translate>Edit</span>
            <input type="checkbox" ng-model="news.selected">
        </p>
    </li>
    <li ng-if="$ctrl.page.content" class="ContentRight">
        <span ng-click="$ctrl.deleteNews()" class="pure-button" translate>Delete</span>
    </li>
</ul>