<ul class="VerticalList">
    <li>
        <a ui-sref="news.list({pageNum:$ctrl.back})" translate>BACK</a>
    </li>
    <li>
        <span class="Bold" once-text="$ctrl.news.news.title"></span>
        <span class="Padded">
        <span class="Italic" translate>(by </span>
        <span class="Italic" once-text="$ctrl.news.news.author.authorName"></span>)
        </span>
    </li>
    <li>
        <span class="FullText" once-text="$ctrl.news.news.fullText"></span>
    </li>
    <li ng-repeat="comment in $ctrl.news.news.comments | orderBy:'creationDate':reverse">
        <div class="CommentDate" once-text="comment.creationDate | date:'yyyy-MM-dd HH:mm'"></div>
        <div class="CommentBg" once-text="comment.commentText"></div>
    </li>
    <li>
        <form name="addCommentForm">
            <div>
                <textarea id="newComment" ng-model="data.commentText" required></textarea>
            </div>
            <div class="AddCommentBtn">
                <span class="pure-button"
                      ng-click="$ctrl.saveComment(data, addCommentForm)" translate>Send Comment</span>
            </div>
        </form>
    </li>
    <li>
        <a ui-sref="news.detail({newsId:$ctrl.news.prevNewsId})"
           ng-if="$ctrl.news.prevNewsId!==0"
           class="Link" translate>PREVIOUS</a>
        <a ui-sref="news.detail({newsId:$ctrl.news.nextNewsId})"
           ng-if="$ctrl.news.nextNewsId!==0"
           class="Right Link Padded" translate>NEXT</a>
    </li>
</ul>
