<div class="Navigation pure-menu pure-menu-horizontal">
    <div>
        <ul class="pure-menu-list">
            <li class="Brand pure-menu-item">
                <a translate ui-sref="news.list({pageNum:1})">News Portal</a>
            </li>
        </ul>
        <ul class="pure-menu-list Right">
            <li class="pure-menu-item">
                <span ng-click="$ctrl.setLocale('en')" class="Link">en</span>
            </li>
            <li class="pure-menu-item">
                <span ng-click="$ctrl.setLocale('ru')" class="Link">ru</span>
            </li>
        </ul>
    </div>
</div>
