<div ng-if="$ctrl.paginate.length > 0" class="Paginator">
    <ul>
        <li ng-repeat="n in $ctrl.paginate" once-class="n.state">
            <span ui-sref="news.list({pageNum:n.num})" class=""><tt>{{n.num}}</tt></span>
        </li>
        <li>
        </li>
    </ul>
</div>
