<ul class="Expand VerticalList">
    <li ng-repeat="tag in $ctrl.tags">
        <span class="Bold" translate>Tag: </span>
        <textarea ng-model="tag.tagName" ng-disabled="!tag.edit" rows="1"></textarea>
        <span class="Menu">
            <span ng-if="!tag.edit" class="Link" ng-click="tag.edit=true" translate>Edit</span>
            <span ng-if="tag.edit">
                <span ng-click="$ctrl.updateTag(tag)" class="Link" translate>Update</span>
                <span ng-click="$ctrl.deleteTag(tag.tagId)" class="Link" translate>Delete</span>
                <span ng-click="tag.edit=false" class="Link" translate>Cancel</span>
            </span>
        </span>
    </li>
    <li>
        <form name="addTagForm">
            <span class="Bold" translate>Add Tag:</span>
            <textarea ng-model="tag.tagName" rows="1"></textarea>
                <span class="Link"
                      ng-click="$ctrl.addTag(tag, addTagForm)" translate>Save</span>
        </form>
    </li>
</ul>
