<div class="ContentCenter Filter">
    <ul class="pure-menu ">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">

    <span class="dropdown pure-button" ng-switch="$ctrl.filter.selectedAuthor">
        <span>&#9663;</span>
       <span ng-switch-when="" translate>All authors</span>
       <span ng-switch-default>{{$ctrl.filter.selectedAuthor.authorName}}</span>
    </span>
            <ul class="pure-menu-children pure-menu-selected pure-menu-scrollable">
                <li ng-repeat="author in $ctrl.filter.authors | filter:{expired:null}"
                    class="pure-menu-item" ng-click="$ctrl.filter.selectedAuthor=author">
                    <label class="pure-menu-link">
                        <input type="radio" name="a">
                        <span once-text="author.authorName"></span>
                    </label>
                </li>
            </ul>
        </li>

        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
    <span class="dropdown pure-button" ng-switch="$ctrl.filter.selectedTags.length">
         <span>&#9663;</span>
        <span ng-switch-when="0" translate>Select tags</span>
        <span ng-switch-when="1">{{$ctrl.filter.selectedTags[0].tagName}}</span>
        <span ng-switch-default>
            <span translate>Tags selected: </span>
            <span>{{$ctrl.filter.selectedTags.length}}</span>
        </span>
    </span>
            <ul class="pure-menu-children pure-menu-selected pure-menu-scrollable"
                ng-click="$ctrl.updateSelectedTags()">
                <div ng-repeat="tag in $ctrl.filter.tags" class="pure-menu-item">
                    <label class="pure-menu-link">
                        <input ng-model="tag.enabled"
                               type="checkbox"
                               ng-value="tag.tagId">
                        <span>{{tag.tagName}}</span>
                    </label>
                </div>
            </ul>
        </li>
    <span ng-if="$ctrl.buttons==='true'" class="btn2">

    <li class="pure-menu-item">
        <span ng-click="$ctrl.resetFilter()" class="btn pure-button" translate>Reset</span>
    </li>

    <li class="pure-menu-item">
        <span ng-click="$ctrl.applyFilter()" class="btn pure-button" translate>Filter</span>
    </li>

    </span>
    </ul>
</div>