<ul class="VerticalList">
    <li ng-if="!$ctrl.page.content" class="NotFound" translate>News not found for this criteria</li>
    <li ng-repeat="news in ::$ctrl.page.content">
        <span class="NewsListTitle">
            <span class="Bold" once-text="news.title"></span>
            <span class="Padded">
                <span class="Italic" translate>(by</span>
                <span class="Italic" once-text="news.author+')'"></span>
            </span>
            <span class="Right" once-text="news.newsDate | date:'yyyy-MM-dd'"></span>
            </p>
            <p once-text="news.brief"></p>
        <p class="NewsListBottom">
            <span class="TagsList" once-text="news.tags"></span>
            <span class="Padded">
                <span class="CommentsCount" translate>Comments(</span>
                <span class="CommentsCount" once-text="news.comments+' )'"></span>
            </span>
            <a ui-sref="news.detail({pageNum:$ctrl.page.number,newsId:news.newsId})" translate>View</a>
        </p>
    </li>
</ul>