<form name="addNewsForm" class="Expand AddNewsForm">
    <ul class="VerticalList">
        <li>
            <span class="Label Bold" translate>Title:</span>
            <textarea id="AddNewsTitle" required ng-model="$ctrl.news.title" rows="1">1</textarea>
        </li>
        <li>
            <span class="Label Bold" translate>Brief:</span>
            <textarea id="AddNewsBrief" required ng-model="$ctrl.news.shortText" rows="3">2</textarea>
        </li>
        <li>
            <span class="Label Bold" translate>Content:</span>
            <textarea id="AddNewsFull" required ng-model="$ctrl.news.fullText" rows="15">3</textarea>
        </li>
        <li>
            <author-tag-filter buttons="false"></author-tag-filter>
            <span class="pure-button Right"
                  ng-click="$ctrl.addNews($ctrl.news,addNewsForm)" translate>Save</span>
        </li>
    </ul>
</form>