<div class="ContentCenter Filter">
    <!--<span translate ng-init="$ctrl.ALL_AUTHORS= 'All Authors'"/>-->
    <ul class="pure-menu ">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
    <span class="dropdown pure-button " ng-switch="$ctrl.filter.selectedAuthor">
       <span ng-switch-when="" translate>All authors</span>
       <span ng-switch-default>{{$ctrl.filter.selectedAuthor}}</span>
    </span>
            <ul class="pure-menu-children pure-menu-selected pure-menu-scrollable">
                <li ng-repeat="author in $ctrl.filter.authors" class="pure-menu-item">
                    <label class="pure-menu-link">
                        <input ng-model="$parent.$ctrl.filter.selectedAuthor"
                               type="radio" name="a"
                               ng-value="author.authorName">
                        <span once-text="author.authorName"></span>
                    </label>
                </li>
            </ul>
        </li>

        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
    <span class="dropdown pure-button" ng-switch="$ctrl.filter.tagIds.length">
        <span ng-switch-when="0" translate> Select tags </span>
        <span ng-switch-when="1">{{$ctrl.filter.tags[$ctrl.filter.tagIds[0]-1].tagName}}</span>
        <span ng-switch-default><span translate>Tags selected: </span><span>{{$ctrl.filter.tagIds.length}}</span></span>
    </span>
            <ul class="pure-menu-children pure-menu-selected pure-menu-scrollable"
                ng-click="$ctrl.updateTagsTitle()">
                <div ng-repeat="tag in $ctrl.filter.tags" class="pure-menu-item">
                    <label class="pure-menu-link" ng-click="$ctrl.updateTagsTitle()">
                        <input ng-model="tag.enabled"
                               type="checkbox"
                               ng-value="tag.tagIds">
                        <span once-text="tag.tagName"></span>
                    </label>
                </div>
            </ul>
        </li>
    <span class="btn2">

    <li class="pure-menu-item">
        <span ng-click="$ctrl.resetFilter()" class="btn pure-button" translate>Reset</span>
    </li>

    <li class="pure-menu-item">
        <span ng-click="$ctrl.applyFilter()" class="btn pure-button" translate>Filter</span>
    </li>

    </span>
    </ul>
</div>